/* Seteo */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Body */

body {
  margin-top: 55px;
}
.contenedor {
  border: solid 2px;
  margin: auto;
  height: 450px;
  width: 450px;
  text-align: center;
}
.sub-contenedor {
  padding-top: 25px;
  display: flex;
}
.iz{
  width: 50%;
}
#temp{
  width: 60%;
  height: 35px;
}
.de{
  width: 50%;
}
.sub-contenedor h1 {
    margin: 15px;
    padding: 15px;
    
    
  }
.conversion{
    border: solid 2px ;
    height: 35px;
    width: 60%;
    margin: auto;

  }
.termometro{
  border: solid 1px;
  height: 200px;
  width: 50px;
  transform:rotate(180deg);
  margin: auto;

}
#spin{
  background-color: rgb(255, 0, 0);
  transform:rotate(180deg);
  height: 15px;
  
}
.btn-btn{
    margin: 50px;
}
